nav{
    a{

color: black;
        
    }
}

@media screen and (max-width:620px) {
    nav{
        display: flex;
        flex-direction: column;
        padding: 0;
        a{
            img{
                width: 100%;
            }}

        }
    }